/* src/components/Footer.css */
.footer-container {
    position: relative;
    background-color: #c36af7;
    text-align: center;
    font-style: italic;
    padding: 10px;
  }
  
  .footer-container p{
    color: blue;
  }