/* src/components/Header.css */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #638590;
  }
  
  .title h1 {
    margin: 0;
    margin-left: 200px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    color: #000000;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s; /* Add a transition for smooth color change */
  }
  
  nav a:hover {
    color: red; /* Change the color to red on hover */
  }
  
  /* Header.css */
/* ... Your existing styles */

.hamburger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.4s;
}

/* Add animation for the bars on toggle */
.hamburger-icon.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
