/* src/components/Header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b2187e; /* Header background color */
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8); /* Text color */
}

.title a{
  text-decoration: none;
  color: #ebdbdb; /* Title text color */
  font-size: 24px; /* Title font size */
}

.title h1{
  color: beige;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff; /* Nav links color */
  font-size: 16px; /* Nav links font size */
}

/* Hamburger menu icon */
.hamburger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-icon.open .bar:nth-child(1) {
  transform: translateY(5px) rotate(-45deg);
}

.hamburger-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
  transform: translateY(-5px) rotate(45deg);
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}
.hamburger-icon {
  display: flex;
}


/* Media query for mobile responsiveness */
@media (max-width: 600px) {

  nav ul {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
  }

  nav ul.active {
    display: flex;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
