/* src/components/Profile.css */

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: beige;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(6, 232, 55);
  }
  
  .profile-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-image {
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }
  
  .profile-description {
    text-align: center;
    margin-top: 20px;
  }

  /* src/components/Profile.css */

/* ... (previous styles) */

.profile-table {
    width: 100%; /* Table width set to 100% */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-table th,
  .profile-table td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-table th {
    background-color: #333;
    color: #fff;
  }
  
  .profile-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .profile-table tr:nth-child(odd) {
    background-color: #fff;
  }
  
  .profile-table tr:hover {
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* ... (other styles) */
  

  .profile-buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .profile-buttons button:hover {
    background-color: #555;
  }

  .preference-button {
    text-align: center;
    margin-top: 20px;
  }
  .preference-button button {
    font-size: 20px;
    background-color: #2a05cf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .preference-button button:hover {
    background-color: rgb(211, 11, 57);
  }