/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  .sidebar.open {
    left: 0; /* Displayed when open */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 20px;
    margin-top: 50px;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
    border-top: 1px solid #ccc; /* Add a thin border at the top of each menu item */
    transition: background-color 0.3s; /* Add a transition for smooth color change on hover */
  }
  
  .sidebar ul li:hover {
    background-color: #b5b5b5; /* Change background color on hover */
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  