/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  .sidebar.open {
    left: 0; /* Displayed when open */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 20px;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .close-button {
    position: relative;
    margin-top: 40px;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  